:ruby
  t ||= nil
  link = true if link != false
  # latlng = false if link != true

- unless t.nil?
  .tile.station
    - if link
      %a{ href: transmitter_path(t, latlng: @location.to_s) }
        %span.frequency
          - if t.band == 'AM'
            #{t.frequency.to_i} #{t.band}
          - else
            #{t.frequency} #{t.band}
        %span.name
          = t.callsign
    - else
      %span.frequency
        - if t.band == 'AM'
          #{t.frequency.to_i} #{t.band}
        - else
          #{t.frequency} #{t.band}
      %span.name
        = t.callsign
